body{
    margin: 0;
    padding: 0;
    background-color: aqua;
    
}


form{
    
    margin: 10px;
    padding: 10px;
    top: 10%;
    left: 5%;
position: absolute;
align-self: center;
font-family: 'Times New Roman', Times, serif;
font-size: x-large;
}
div{
    margin: 25px;
    padding: 5px;
}

button{
    margin: 5px;
    padding: 5px;
    top:170px;
    left:60px;
    font-size: x-large;
}
